<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="/">
      <img
        src="/static/images/logo.svg"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      <span class="ms-2">Аренда велосипедов</span>
    </a>
  </div>
</nav>
